<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>校园随拍后台管理</title>
    <link rel="stylesheet" href="__ADMIN__/css/admin.css">
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
    <script src="__ADMIN__/layui/layui.js"></script>
    <link rel="stylesheet" href="__ADMIN__/css/style.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/112481/45824/5a458baaf629d812acd860f3.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div class="header">
    <h2 class="z cl cssf44d2d9581b761">校园随拍后台管理</h2>
    <div class="y cl">
        <a href="{:U('Login/logout')}">退出</a>
    </div>
</div>
<div class="admin">
    <div class="aleft">
        <h3><i class="layui-icon" style="position: relative;right: 3px;top: 1px;font-size: 18px;color: #AC1122;">&#xe643;</i>操作菜单</h3>
        <ul class="cl">
            <li><i class="layui-icon">&#xe612;</i><a href="{:U('User/index')}">账号管理</a></li>
            <li><i class="layui-icon">&#xe638;</i><a href="{:U('Dynamic/index')}">帖子管理</a></li>
            <li><i class="layui-icon">&#xe63a;</i><a href="{:U('Comment/index')}">评论管理</a></li>
            <li><i class="layui-icon">&#xe609;</i><a href="{:U('Announce/index')}">公告管理</a></li>
            <li><i class="layui-icon">&#xe640;</i><a href="{:U('apply/index')}">反馈列表</a></li>
        </ul>
        <h3><i class="layui-icon" style="position: relative;right: 3px;top: 1px;font-size: 18px;color: #AC1122;">&#xe614;</i>系统管理</h3>
        <ul class="cl">
            <li><i class="layui-icon">&#xe640;</i><a href="{:U('runtime/index')}">清理缓存</a></li>
            <li><i class="layui-icon">&#x1006;</i><a href="{:U('Login/logout')}">立即退出</a></li>
        </ul>
        <h3><i class="layui-icon" style="position: relative;right: 3px;top: 1px;font-size: 18px;color: #AC1122;">&#xe612;</i>帮助中心</h3>
        <ul class="cl">
            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=909144903&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:909144903:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
        </ul>
    </div>