<ion-header-bar class="bar-{{skin}} bar bar-header">
    <button class="button button-clear backBtn" ng-click="goDynamic()"><img src="img/back.png"></button>
    <h1 class="title">切换皮肤</h1>
</ion-header-bar>
<ion-content class="changeSkinPage">
    <div class="list">
    <a class="item item-list" ng-click="selectSkin(1)">
        <p>时尚白</p>
        <div class="skinColor" style="background-color: #FAFAFA"></div>
    </a>
    <a class="item item-list" ng-click="selectSkin(2)">
        <p>天空蓝</p>
        <div class="skinColor" style="background-color: #11C1F3"></div>
    </a>
    <a class="item item-list" ng-click="selectSkin(3)">
        <p>清新绿</p>
        <div class="skinColor" style="background-color: #33CD5F"></div>
    </a>
    <a class="item item-list" ng-click="selectSkin(4)">
        <p>淡雅黄</p>
        <div class="skinColor" style="background-color: #FFC900"></div>
    </a>
    <a class="item item-list" ng-click="selectSkin(5)">
        <p>热情红</p>
        <div class="skinColor" style="background-color: #EF473A"></div>
    </a>
    <a class="item item-list" ng-click="selectSkin(6)">
        <p>魅力紫</p>
        <div class="skinColor" style="background-color: #886AEA"></div>
    </a>
    <a class="item item-list" ng-click="selectSkin(7)">
        <p>深空灰</p>
        <div class="skinColor" style="background-color: #444444"></div>
    </a>
    </div>
</ion-content>