<ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <div class="list" ng-repeat="myComment in myComments">
        <div class="row" style="height: auto;width: 100%;border-bottom: solid; border-bottom-color:#EEEEEE;padding: 8px">
            <div class="col col-20" style=" height:50px;width:50px;padding: 0">
                <img style="border-radius:20%;width: 52px;height: 50px" data-ng-src="../../../CWP/admin/Uploads{{myComment.otherheadpic}}"></div>
            <div class="col col-40" style="display:block;height:auto;margin-left: 10px">
                <div style="color: #FF5500;">@{{myComment.othernickname}}</div>
                    <p style=" margin-top: 0px;margin-bottom: 0px">{{myComment.mineword}}</p>
                    <p style="margin-bottom: 0px">{{myComment.date.substring(5,16)}}</p>
            </div>
            <div class="col col-30" style="height:80px;width: 80px; overflow:scroll;">
                <p>{{myComment.otherword}}</p>
            </div>
            <div class="col col-10" ng-click="deleteMyCom($index)">
                <div style="margin-left: 1em"><i class="icon ion-close"></i></div>
            </div>
        </div>
    </div>
</ion-content>